{# http://localhost/project_animalia/projet_animalia/public/animals #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h2>Bonjour sur notre blog !</h2>
    </div>

   <div>
    <a href="animals/add">Ajouter un article</a>
   </div>

    {% for animal in animals %}
        <article>
            <div>
                <img src="{{ animal.img }}" alt="">
            </div>
            <h3>{{ animal.name }}</h3>
            <span>{{ animal.typeId.Name }}</span>
            <span>{{ animal.genreId.Name }}</span>
            <a href="{{ path('show_animal', {id: animal.id}) }}">Voir l'article</a>
        </article>
    {% endfor %}
{% endblock %}
